
$bright-orange: hsl(31, 77%, 52%);
$dark-cyan: hsl(184, 100%, 22%);
$vary-dark-cyan:  hsl(179, 100%, 13%);

$text-para: hsla(0, 0%, 100%, 0.75);

$vary-light-gray: hsl(0, 0%, 95%);

$ff-primary: "Lexend Deca", Arial, Helvetica, sans-serif;
$ff-secondary: "Big Shoulders Display", Arial, Helvetica, sans-serif;